* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.container {
  width: 800px;
  margin: 0 auto;
}

body {
  background-color: #141d2f;
  font-family: "Space Mono", monospace;
}
body nav {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  padding: 40px;
  padding-bottom: 0;
}
body nav .logo a {
  color: red;
}
body nav .day-night {
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
body nav .day-night img {
  width: 30px;
  margin-left: 15px;
}
body .search {
  height: 70px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  background: #1e2a47;
  padding: 0 10px 0 30px;
  font-family: "Space Mono", monospace;
  margin-bottom: 30px;
}
body .search .input__middle {
  width: 75%;
}
body .search .input__middle input {
  background-color: transparent;
  width: 100%;
  border: none;
  outline: none;
  color: red;
  font-size: 1.5rem;
  font-family: "Space Mono", monospace;
}
body .search .input__right-button {
  width: 100px;
  height: 50px;
}
body .search .input__right-button button {
  background-color: #0079ff;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  font-family: "Space Mono", monospace;
  -webkit-transition: all 0.12s;
  transition: all 0.12s;
}
body .search .input__right-button button:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
body .search .input__right-button button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1e2a47;
  padding: 40px;
  border-radius: 20px;
}
body main .main__img {
  width: 120px;
}
body main .main__img img {
  width: 100%;
  border-radius: 50%;
}
body main .main__section {
  width: 80%;
  margin-bottom: 35px;
}
body main .main__section .main__section-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: red;
  margin-bottom: 20px;
}
body main .main__section .main__section-header .main__section-header-text .username {
  color: #0079ff;
}
body main .main__section .bio {
  color: red;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
body main .main__section .main__section-info {
  width: 100%;
  height: 80px;
  background-color: #141d2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: red;
  padding: 0 20px;
  border-radius: 20px;
  margin-bottom: 40px;
}
body main .main__section .main__section-info .info-desc {
  font-size: 13px;
}
body main .main__section .main__section-info .info-number {
  font-size: 22px;
  font-weight: 700;
}
body main .main__section .urls__section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body main .main__section .urls__section .urls__section-left .top,
body main .main__section .urls__section .urls__section-left .bottom,
body main .main__section .urls__section .urls__section-right .top,
body main .main__section .urls__section .urls__section-right .bottom {
  margin-bottom: 20px;
}
body main .main__section .urls__section .urls__section-left .top a,
body main .main__section .urls__section .urls__section-left .bottom a,
body main .main__section .urls__section .urls__section-right .top a,
body main .main__section .urls__section .urls__section-right .bottom a {
  color: red;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main__img {
    margin: 0 auto;
  }
  main .main__section {
    width: 80%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .main__section .main__section-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main__section .urls__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */